# MarkOS USB-SSD / NVMe image: writable ext4 root + A/B slots.
# p1 boot (FAT32) | p2 rootfsA (ext4 RW) | p3 rootfsB | p4 data (ext4)
# Fixed MBR signature → root=PARTUUID=6d61726b-02 works on any media.
# data.ext4 is pre-created by post-image.sh (GDT reserves for online grow).

image boot.vfat {
	vfat {
		label = "boot"
		file Image { image = "Image" }
		file bcm2712-rpi-5-b.dtb { image = "bcm2712-rpi-5-b.dtb" }
		file bcm2712d0-rpi-5-b.dtb { image = "bcm2712d0-rpi-5-b.dtb" }
		file config.txt { image = "config.txt" }
		file cmdline.txt { image = "cmdline.txt" }
		file start4.elf { image = "firmware-flat/start4.elf" }
		file fixup4.dat { image = "firmware-flat/fixup4.dat" }
	}
	size = 512M
}

image markos-ssd.img {
	hdimage {
		partition-table-type = "mbr"
		disk-signature = 0x6d61726b
	}
	partition boot {
		partition-type = 0x0C
		bootable = "true"
		image = "boot.vfat"
		offset = 1M
	}
	partition rootfsA {
		partition-type = 0x83
		image = "rootfs.ext4"
	}
	partition rootfsB {
		partition-type = 0x83
		image = "rootfsB.ext4"
	}
	partition data {
		partition-type = 0x83
		image = "data.ext4"
	}
}
